{% extends 'base/base.html' %} {% block title %}Create{% endblock title %} 
{%block content %}

<a href="#" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body" onclick="history.back()"><</a>
<br /><br />


<h1 class="text-center">{{ title }}</h1>

<div class="card-body p-5">
  <form action=" " method="POST" enctype="multipart/form-data">
    {% csrf_token %} {{ form }} <br><br>

    {{ formset.management_form }} 
    {% for answer_form in formset %} 
      {{ answer_form }}<br><br>
    {% endfor %}

    <br /><br />

    <div class="d-flex justify-content-center">
      <button
        type="submit"
        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
      >
        Create
      </button>
    </div>
  </form>
</div>

{% endblock content %}
