{% extends 'base/base.html' %}



{% block content %}

<h1>{{ title }}</h1>

    <div class="card-body p-5">
                
        <form action=" " method="POST">
            {% csrf_token %}

            {% comment %} {% if form %} {% endcomment %}
            {{ form }}
            {% comment %} {% elif form1 and form2 and form3 and form4 %}
            <h3>Answer 1</h3>{{ form1 }}<br>
            <h3>Answer 2</h3>{{ form2 }}<br>
            <h3>Answer 3</h3>{{ form3 }}<br>
            <h3>Answer 4</h3>{{ form4 }}<br>
            {% endif %} {% endcomment %}
            <br><br>

            <div class="d-flex justify-content-center">
                <button type="submit"
                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Create</button>
            </div>

        </form>

    </div>

{% endblock content %}