{% extends 'base/base.html' %}



{% block content %}

<h1>{{ title }}</h1>

    <div class="card-body p-5">
                
        <form action=" " method="POST">
            {% csrf_token %}

            {{ form }}

            <br><br>

            <div class="d-flex justify-content-center">
                <button type="submit"
                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Create</button>
            </div>

        </form>

    </div>

{% endblock content %}