{% extends 'base/core.html' %}

{% block title %}Home{% endblock %}

{% block content %}

<h5 class="card-title"> Welcome to Quiz World! </h5>

  {% if  request.user.is_authenticated %}
  
    <p> Hello {{ request.user}} </p>
  
    <div class="col">
      <a href="{% url 'sing_out' %}">
        <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"> Sing Out  </button>
      </a>
    </div>

    <br>

    <div class="col">
      <a href="{% url 'create_quiz' %}">
        <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"> Create a Quiz </button>
      </a>
    </div>
    
  <h1> List of category for choose </h1>
    
    <div class="form-group" >
              
    {% for quiz in quizzes %}
      <button type="button" class="btn btn-dark btn-square-md">
        {{ quiz.name}}
      </button>
    {% endfor %}



    </div>

  {% else %}

    <div class="container align-items-center">
        <div class="row ">
          <div class="col">
              <a href="sing_up">
                  <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"> Sing Up </button>
              </a>
          </div>
          <div class="col">
              <a href="sing_in">  
                  <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"> Sing In </button> 
              </a>
          </div>
        </div>
    </div>

  {% endif %}




{% endblock content %}