{% extends 'base/base.html' %} 
{% block title %}Home{% endblock title %}
{% block content %}

<div class="col">
  <a href="{% url 'sing_out' %}">
    <button
      type="submit"
      class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
    >
      Sing Out
    </button>
  </a>
</div><br><br>

<div class="d-flex justify-content-center">
  <h3 style="text-align: center;"> Hi {{ request.user }}, Welcome to Quiz World! Choose one of the quiz categories :</h3>
</div><br><br>


{% for quiz in quizzes %}
<a href="{% url 'start_quiz' quiz.pk %}" class="text-decoration-none">
  <div class="row mb-4">
    <div class="col-md-12">
      <div class="card bg-secondary">
        <div class="card-body">
          <h4 class="card-title text-white text-center ">{{ quiz.name }}</h4>
        </div>
      </div>
    </div>
  </div>
</a>
{% endfor %}



<p class="text-center text-muted mt-5 mb-0">Want to create your own quiz?           
  <div class="col">
      <div class="d-flex justify-content-center">
        <a href="{% url 'create_quiz' %}">
        <button
          type="submit"
          class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"
        >
          Create a Quiz
        </button>
      </a>
      </div>
  </div>
</p>

{% endblock content %}
