{% load static %}
<!DOCTYPE html>
<html style='height: 100%;' lang="en">
    
<head >
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{% static 'base/home.css' %}" >
    
    <title>Quiz</title>

    <style>
        body {
            background: linear-gradient(to bottom right, #eeaeca, #94bbe9);
        }
    </style>

</head>

<body>
    <div class="container">
        {% block content %}

        {% endblock content %}
    </div>
</body>

</html>