{% extends 'base/base.html' %}

{% block title %}Questions{% endblock title%}

{% block content %}


<form action="{% url 'summary' quiz_id %}" method="post">
  {% csrf_token %}
    {% for form, question in list %}
      <div class="card-body p-5">
          <h2>{{ forloop.counter }}. {{ question }} </h2>
      </div>
      {{ form }}
    {% endfor%}<br><br>
  <input type="submit" value="Send" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">
</form>



{% endblock content %}