{% extends 'base/base.html' %}

{% block title %}Register{% endblock %}

{% block content %}

    <div class="d-flex justify-content-center"><h2>Create an Account</h2></div>
            
    <div class="card-body p-5">
                
        <form action=" " method="POST">
            {% csrf_token %}

            <div class="form-outline mb-5">
                <input type="text" id="username" name="username" for="" placeholder="Create a username (only letters and numbers)" class="form-control form-control-lg" Required/>
            </div>

            <div class="form-outline mb-5">
                <input type="text" id="fname" name="fname" for="" placeholder="Enter Your First Name" class="form-control form-control-lg" Required/>
            </div>

            <div class="form-outline mb-5">
                <input type="text" id="lname" name="lname" for="" placeholder="Enter Your Last Name" class="form-control form-control-lg" Required/>
            </div>

            <div class="form-outline mb-5">
                <input type="email" id="email" for="" name="email" placeholder="Enter Your Email Address" class="form-control form-control-lg" Required/>
            </div>

            <div class="form-outline mb-5">
                <input type="password" id="pass1" for="" name="pass1" placeholder="Create a Password" class="form-control form-control-lg" Required/>
            </div>

            <div class="form-outline mb-5">
                <input type="password" id="pass2" for="" name="pass2" placeholder="Confirm Your Password" class="form-control form-control-lg" Required/>
            </div>

            <div class="d-flex justify-content-center">
                <button type="submit"
                class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Register</button>
            </div>

        </form>


        <p class="text-center text-muted mt-5 mb-0">Have already an account?           
            <div class="col">
                <div class="d-flex justify-content-center">
                    <a href="{% url 'sing_in' %}" >  
                        <button type="submit" class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"> Sing In </button> 
                    </a>
                </div>
            </div>
        </p>

    </div>

{% endblock content %}