{% extends 'base/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}


<form action="" method="POST">
  {% csrf_token %}

  <div class="card-header"><h5 class="card-title">Login</h5></div>
    <div class="card-body">

      <div class="form-outline mb-5">
        <input type="text" id="username" name="username" for="" placeholder="Enter Your Username" class="form-control form-control-lg" Required/>
      </div>

      <div class="form-outline mb-5">
        <input type="password" id="pass1" for="" name="pass1" placeholder="Enter Your Password" class="form-control form-control-lg" Required/>
      </div>

      <div class="row mb-4">
           <a href="{% url 'password_reset_form' %}">Forgot password?</a>
      </div>

      
        <button type="submit"
        class="btn btn-success btn-block btn-lg gradient-custom-4 text-body">Login</button>
    </div>
  </div>
</form>

{% endblock content %}
