{% extends 'base/base.html' %}

{% block title %}Questions{% endblock title%}

{% block content %}


<div class="d-flex justify-content-center">
    <h1>Summary</h1>
</div>
<br><br>
<h5> You earn {{ points }} points, which is {{ percentages }}%, Congratulation ! </h5>
<br>
<table class="table text-white">
  <thead>
    <tr>
      <th scope="col"></th>
      <th scope="col">User</th>
      <th scope="col">Score</th>
      <th scope="col">Time</th>
      <th scope="col">Date</th>
    </tr>
  </thead>
  <tbody>
    {% for user in leaderboard %}
      <tr>
        <td>{{ forloop.counter }}.</td> 
        <td>{{ user.username }}</td>
        <td>{{ user.score }}</td>
        <td>{{ user.time }} </td>
        <td>{{ user.date }} </td>
      </tr>
    {% endfor%}
  </tbody>
</table>

<br>
<div class="d-flex justify-content-center">
  <a href="{% url 'home'  %}">
    <button type="submit" name='next' class="btn btn-success btn-block btn-lg gradient-custom-4 text-body"> Next </button>
  </a>
</div>

{% endblock content %}