body {
    background: linear-gradient(to bottom right, #eeaeca, #94bbe9);
}

.container{
    max-width: 650px;
    padding: 10%;
    height: 50%;
    
}

.card.text-center{
    border-radius: 1rem;
    background: 	#303030;
    color: #fff;
}

/* .card-header{
    border-top-left-radius: 1rem !important; 
    border-top-right-radius: 1rem !important; 
} */

.card-body{
    padding: 5%;
}

/* .card-footer{
    border-bottom-left-radius: 1rem !important; 
    border-bottom-right-radius: 1rem !important; 
} */

